{% extends 'lib/base.html' %}
{% load static %}
{% load user_group_check %}
{% load get_progress %}


{% block page-content %}
<div class="page-content">
    <!-- <div class="home-hero"  data-src="{% static 'theme/images/home-hero.png' %}" uk-img> -->
    <div class="home-hero"  data-src="{% static 'courses_app/images/art.png' %}" uk-img>
        <div class="uk-width-1-3">
            <div class="page-content-inner uk-position-z-index">
                <h1>Welcome {{request.user.first_name}} <br>To your DI Learning Platform</h1>
                <h4 class="my-lg-4"> Lifetime Access <br>To our unlimited courses</h4>
                <h4 class="my-lg-4"> Your learning experience starts here! </h4>
                {% if user.profile.program.link %}
                <a href="{{user.profile.program.link}}" target="_blank" class="btn btn-danger">Take me to class!</a>
                {% endif %}
            </div>
        </div>
        
        <div class="uk-width-1-3">
            <div class="switchup-badge">
                <a href="https://www.switchup.org/bootcamps/developers-institute" target="_blank" class="btn">
                    <img src="{% static 'courses_app/images/bootcamp_winner.png' %}"  height="150px" width="150px" alt="">
                    <h5 style="text-align: center; color:black; font-weight: bold;" class="mt-2"> Developers Institute<br><span class="switchup-orange">ranked #31 <br>in SwitchUp's</span> Best Coding Bootcamps <br><span class="switchup-orange"> Worldwide for 2021</span></h5>
                </a>
            </div>
        </div>
    </div>
    
   {% include 'partials/accomplishments.html'%}
    
    <div class="container">
        <!-- course card resume sliders  -->
        {% if collections %}
            {% for collection in collections %}
            <div class="section-small">

                <div uk-slider="finite: true" class="course-grid-slider">

                    <div class="grid-slider-header">
                        <div>
                            <a href="/courses/collection/{{ collection.id }}">
                                <h4 class="uk-text-truncate">{{ collection.title }}</h4>
                            </a>
                        </div>
                        
                        <div class="grid-slider-header-link">
                            <a href="#" class="slide-nav-prev" uk-slider-item="previous"></a>
                            <a href="#" class="slide-nav-next" uk-slider-item="next"></a>
                        </div>
                    </div>

                    <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-5@m uk-grid">
                        {% for collection_course in collection.collectioncourse_set.all|dictsort:"sort" %}
                        <li>
                            <a href="/courses/collection/{{collection.id}}/course/{{ collection_course.course.id }}">
                                <div class="course-card-resume">
                                    <div class="course-card-resume-thumbnail">
                                        <img src="{% static collection_course.course.get_thumbnail %}" alt="Course Image">
                                    </div>
                                    <div class="course-card-resume-body">
                                        <h5 style="color: red">{% if forloop.counter <= collection.total_weeks %}Week {{ forloop.counter }}{% endif %}&nbsp</h5>
                                        <h5 style="height: 42px;">{{ collection_course.course.title }}</h5>

                                        {% if request.user.profile.program.collection == collection and request.user|get_course_progress:collection_course.course >= 0%}
                                            <h5>{{request.user|get_course_progress:collection_course.course}}% Complete</h5>
                                            <div class="course-progressbar">
                                                <div class="course-progressbar-filler" style="width:{{request.user|get_course_progress:collection_course.course}}%"></div>
                                            </div>
                                        {% endif %}

                                    </div>
                                </div>
                            </a>
                            {% if request.user|has_group:"admin" %}
                            <sub><a href="{% url 'admin:courses_app_course_change' collection_course.course.id %}" class="edit-content" >Edit Course</a></sub>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>

                </div>
            </div>
            {% endfor %}
        {% else %}
            <br><br>
            <p class="text-danger">You do not yet have access to any courses.</p>
            <p class="text-danger">Please contact your administrator.</p>
        {% endif %}

        {% block footer %}
            {% include 'lib/partials/footer-large.html'%}
        {% endblock %}
    </div>

</div>
{% endblock %}

{% block css %}
<style>
    .switchup-orange {
    color: #d43e2d
}

.switchup-badge {
    display: flex; flex-direction: column; align-items: center;
    padding : 15px 15px 0 15px;
}
</style>
{% endblock %}