{% extends 'lib/base.html' %}
{% load user_group_check %}
{% load static %}
{% load martortags %}

{%block css %}
<link rel="stylesheet" href="{% static 'courses_app/css/courses_app.css' %}">


{% endblock %}

{% block header %}
<!-- To clear the header loaded in base -->
{% endblock %}

{% block extra %}
<!-- Syntax Highlighter -->
<link rel="stylesheet" type="text/css" href="{% static 'lib/syntax-highlighter/styles/shCore.css' %}" media="all">
<link rel="stylesheet" type="text/css" href="{% static 'lib/syntax-highlighter/styles/shCoreMidnight.css' %}" media="all">
<style>
    .gutter,
    .toolbar {
        display: none
    }

    .syntaxhighlighter {
        padding: 15px 20px;
    }

    .syntaxhighlighter {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        padding: 0 !important;
        padding-top: 18px !important;
    }
</style>
{% endblock %}

{% block page-content %}
<div class="page-content">
    
    <div class="uk-grid-collapse" uk-grid>
        <div class="uk-width-3-4@m bg-white">
            
            <!-- video description contents -->
            <div class="p-lg-5 p-3" style="width:80%; margin:auto;">
                
                {% block breadcrumbs %}
                <div style="margin-top:-27px; margin-bottom:23px;">
                    {% include 'lib/partials/breadcrumbs.html'%}
                </div>
                {% endblock %}

                <div style="display: flex;">
                    <div style="width: 70%;">
                        {% if chapter.id %}
                        <h2>{{ chapter.title }}</h2>
                        {% else %}
                        <h2>{{ section.title }}</h2>
                        {% endif %}
                    </div>
                    {% if chapter.id and request.user.profile.program %}
                    <div style="width: 30%; display: flex; justify-content: flex-end; align-items: center;">
                        {% if chapter.id in done_chapters %}
                        <span class="btn btn-success" id="chapter-done" chapter-id="{{chapter.id}}" done="1">Done</span>
                        {% else %}
                        <span class="btn btn-secondary" id="chapter-done" chapter-id="{{chapter.id}}" done="0">Not Completed</span>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>

                <div style="width: 20%;">
                    {% if request.user|has_group:"admin" and not chapter.id %}
                    <sup><a href="{% url 'admin:courses_app_section_change' section.id %}" class="edit-content" >Edit Section</a></sup>
                    {% elif request.user|has_group:"admin" and chapter.id %}
                    <sup><a href="{% url 'admin:courses_app_chapter_change' chapter.id %}" class="edit-content" >Edit Chapter</a></sup>
                    {% endif %}
                </div>

                <hr class="my-2">
                <div  uk-toggle="cls: uk-flex uk-flex-between@m uk-flex-middle; mode: media; media: @m"><div>
            </div>
        </div>

        <div>
            
            {% if chapter.group == 'CO' %}
            <div id="toc">
                <h3>Table of Contents</h3>
            </div>
            <hr/>
            {% endif %}

            <div id="chapter-contents">

                {% if not chapter%}
                <p class="lead">{{ section.description|safe_markdown }}</p>
                {% endif %}

                {% if chapter.content %}
                <p class="lead">{{ chapter.content|safe_markdown }}</p><br>
                {% endif %}

                <div>
                    <hr>
                    <h1>Feedback</h1>
                    <p>Tell us what you thought about {% if not chapter%} the section: {{section.title}}{% else %} the chapter: {{chapter.title}}{% endif %}</p>
                    <div id="feedback" class="cui-embed" style="height: 300px; width: 100%;" data-cui-uid="Gp6szZ" data-cui-avatar="https://images.typeform.com/images/KV5BWnKMavQp" data-cui-mode="widget" data-cui-pill-button-color="#000000"></div><script src="https://public-assets.typeform.com/confab/embed.js" async></script>
                </div>
            </div>
        </div>
    </div>
    
    {% block footer %}
    {% include 'lib/partials/footer-small.html'%}
    {% endblock %}
</div>

<div class="uk-width-1-4@m uk-overflow-hidden vidlist-3-container">
    <div uk-sticky >
        <h5 class="bg-gradient-grey text-white py-4 p-3 mb-0">{{ section.title }}</h5>
        <ul class="uk-child-width-expand mb-0"
            uk-switcher="animation: uk-animation-slide-right-small, uk-animation-slide-left-small"
            uk-tab>
            <li class="uk-active"></li>
        </ul>

        <ul class="uk-switcher uk-overflow-hidden">

            <li>
                <div class="vidlist-3-content" data-simplebar>
                    <ul class="vidlist-3-section" uk-accordion>
                        <li class="uk-open">
                            <a class="uk-accordion-title" href="#"> Course Notes </a>
                            <div class="uk-accordion-content">
                                <!-- vidlist -->
                                
                                <ul class="vidlist-3" >
                                    {% for section_chapter in section.sectionchapter_set.all|dictsort:"sort" %}
                                    {% if section_chapter.chapter.enabled and section_chapter.chapter.group == 'CO' %}
                                    <li>
                                        <a class="chapter_notes" href={% url 'courses_app:chapter' collection_id=collection.id course_id=course.id section_id=section.id chapter_id=section_chapter.chapter.id %}>
                                            <div id="chapter_id_{{ section_chapter.chapter.id }}" class="chapter-title">{{ section_chapter.chapter.title }}</div>
                                            <div class="chapter-attributes">
                                                <span class="badge"> </span>
                                                {% if section_chapter.chapter.points_value %}<span class="badge badge-outline-info">{{ section_chapter.chapter.points_value }} XP</span>{% endif %}
                                                {% if section_chapter.chapter.mandatory %}<span class="badge badge-outline-danger">Mandatory</span>{% endif %}
                                                {% if section_chapter.chapter.id in done_chapters %}
                                                <span id="status_chapter_id_{{ section_chapter.chapter.id }}" class="badge badge-outline-success">Done</span>
                                                {% else %}
                                                <span id="status_chapter_id_{{ section_chapter.chapter.id }}" class="badge badge-outline-secondary">Not Completed</span>
                                                {% endif%}
                                            </div> 
                                        </a>
                                    </li>
                                    {% endif %}
                                    {% endfor %}
                                
                                    {% for section_chapter in section.sectionchapter_set.all|dictsort:"sort" %}
                                    {% if section_chapter.chapter.enabled and section_chapter.chapter.group == 'SR' %}
                                    <li>
                                        <a class="chapter_notes" href={% url 'courses_app:chapter' collection_id=collection.id course_id=course.id section_id=section.id chapter_id=section_chapter.chapter.id %}>
                                            <div id="chapter_id_{{ section_chapter.chapter.id }}" class="chapter-title">{{ section_chapter.chapter.title }}</div>
                                            <div class="chapter-attributes">
                                                <span class="badge"> </span>
                                                {% if section_chapter.chapter.points_value %}<span class="badge badge-outline-info">{{ section_chapter.chapter.points_value }} XP</span>{% endif %}
                                                {% if section_chapter.chapter.mandatory %}
                                                <span class="badge badge-outline-danger">Mandatory</span>
                                                {% endif %}
                                                {% if section_chapter.chapter.id in done_chapters %}
                                                <span id="status_chapter_id_{{ section_chapter.chapter.id }}" class="badge badge-outline-success">Done</span>
                                                {% else %}
                                                <span id="status_chapter_id_{{ section_chapter.chapter.id }}" class="badge badge-outline-secondary">Not Completed</span>
                                                {% endif%}
                                            </div> 
                                        </a>
                                    </li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                        
                        <li>
                            <a class="uk-accordion-title" href="#"> Exercices </a>
                            <div class="uk-accordion-content">
                                <ul class="vidlist-3">
                                    {% for section_chapter in section.sectionchapter_set.all|dictsort:"sort" %}
                                        {% if section_chapter.chapter.enabled and section_chapter.chapter.group == 'XP' %}
                                        <li>
                                            <a class="chapter_exercise" href={% url 'courses_app:chapter' collection_id=collection.id course_id=course.id section_id=section.id chapter_id=section_chapter.chapter.id %}>
                                                <div id="chapter_id_{{ section_chapter.chapter.id }}" class="chapter-title">{{ section_chapter.chapter.title }}</div>
                                                <div class="chapter-attributes">
                                                    <span class="badge"> </span>
                                                    {% if section_chapter.chapter.points_value %}<span class="badge badge-outline-info">{{ section_chapter.chapter.points_value }} XP</span>{% else %}<span class="badge badge-outline-info">{{ section_chapter.chapter.points_value }} XP</span>{% endif %}
                                                    <span class="badge badge-outline-warning">XP</span>
                                                    {% if section_chapter.chapter.mandatory %}
                                                    <span class="badge badge-outline-danger">Mandatory</span>
                                                    {% endif %}
                                                    {% if section_chapter.chapter.id in done_chapters %}
                                                    <span id="status_chapter_id_{{ section_chapter.chapter.id }}" class="badge badge-outline-success">Done</span>
                                                    {% else %}
                                                    <span id="status_chapter_id_{{ section_chapter.chapter.id }}" class="badge badge-outline-secondary">Not Completed</span>
                                                    {% endif%}
                                                </div> 
                                            </a>
                                        </li>
                                        {% endif %}
                                    {% endfor %}
                                    {% for section_chapter in section.sectionchapter_set.all|dictsort:"sort" %}
                                        {% if section_chapter.chapter.enabled and section_chapter.chapter.group == 'XPG' %}
                                        <li>
                                            <a class="chapter_exercise" href={% url 'courses_app:chapter' collection_id=collection.id course_id=course.id section_id=section.id chapter_id=section_chapter.chapter.id %}>
                                                <div id="chapter_id_{{ section_chapter.chapter.id }}" class="chapter-title">{{ section_chapter.chapter.title }}</div>
                                                <div class="chapter-attributes">
                                                    <span class="badge"> </span>
                                                    {% if section_chapter.chapter.points_value %}<span class="badge badge-outline-info">{{ section_chapter.chapter.points_value }} XP</span>{% endif %}
                                                    <span class="badge badge-outline-warning">XP Gold</span>
                                                    {% if section_chapter.chapter.mandatory %}
                                                    <span class="badge badge-outline-danger">Mandatory</span>
                                                    {% endif %}
                                                    {% if section_chapter.chapter.id in done_chapters %}
                                                    <span id="status_chapter_id_{{ section_chapter.chapter.id }}" class="badge badge-outline-success">Done</span>
                                                    {% else %}
                                                    <span id="status_chapter_id_{{ section_chapter.chapter.id }}" class="badge badge-outline-secondary">Not Completed</span>
                                                    {% endif%}
                                                </div> 
                                            </a>
                                        </li>
                                        {% endif %}
                                    {% endfor %}
                                    {% for section_chapter in section.sectionchapter_set.all|dictsort:"sort" %}
                                        {% if section_chapter.chapter.enabled and  section_chapter.chapter.group == 'XPN' %}
                                        <li>
                                            <a class="chapter_exercise" href={% url 'courses_app:chapter' collection_id=collection.id course_id=course.id section_id=section.id chapter_id=section_chapter.chapter.id %}>
                                                <div id="chapter_id_{{ section_chapter.chapter.id }}" class="chapter-title">{{ section_chapter.chapter.title }}</div>
                                                <div class="chapter-attributes">
                                                    <span class="badge"> </span>
                                                    {% if section_chapter.chapter.points_value %}<span class="badge badge-outline-info">{{ section_chapter.chapter.points_value }} XP</span>{% endif %}
                                                    <span class="badge badge-outline-warning">XP Ninja</span>
                                                    {% if section_chapter.chapter.mandatory %}
                                                    <span class="badge badge-outline-danger">Mandatory</span>
                                                    {% endif %}
                                                    {% if section_chapter.chapter.id in done_chapters %}
                                                    <span id="status_chapter_id_{{ section_chapter.chapter.id }}" class="badge badge-outline-success">Done</span>
                                                    {% else %}
                                                    <span id="status_chapter_id_{{ section_chapter.chapter.id }}" class="badge badge-outline-secondary">Not Completed</span>
                                                    {% endif%}
                                                </div> 
                                            </a>
                                        </li>
                                        {% endif %}
                                    {% endfor %}
                                    {% for section_chapter in section.sectionchapter_set.all|dictsort:"sort" %}
                                        {% if section_chapter.chapter.enabled and  section_chapter.chapter.group == 'HW' %}
                                        <li>
                                            <a class="chapter_exercise"href={% url 'courses_app:chapter' collection_id=collection.id course_id=course.id section_id=section.id chapter_id=section_chapter.chapter.id %}>
                                                <div id="chapter_id_{{ section_chapter.chapter.id }}" class="chapter-title">{{ section_chapter.chapter.title }}</div>
                                                <div class="chapter-attributes">
                                                    <span class="badge"> </span>
                                                    {% if section_chapter.chapter.points_value %}<span class="badge badge-outline-info">{{ section_chapter.chapter.points_value }} XP</span>{% endif %}
                                                    {% if section_chapter.chapter.mandatory %}
                                                    <span class="badge badge-outline-danger">Mandatory</span>
                                                    {% endif %}
                                                    {% if section_chapter.chapter.id in done_chapters %}
                                                    <span id="status_chapter_id_{{ section_chapter.chapter.id }}" class="badge badge-outline-success">Done</span>
                                                    {% else %}
                                                    <span id="status_chapter_id_{{ section_chapter.chapter.id }}" class="badge badge-outline-secondary">Not Completed</span>
                                                    {% endif%}
                                                </div> 
                                            </a>
                                        </li>
                                        {% endif %}
                                    {% endfor %}
                                    {% for section_chapter in section.sectionchapter_set.all|dictsort:"sort" %}
                                        {% if section_chapter.chapter.enabled and section_chapter.chapter.group == 'MP' %}
                                        <li>
                                            <a class="chapter_exercise" href={% url 'courses_app:chapter' collection_id=collection.id course_id=course.id section_id=section.id chapter_id=section_chapter.chapter.id %}>
                                                <div id="chapter_id_{{ section_chapter.chapter.id }}" class="chapter-title">{{ section_chapter.chapter.title }}</div>
                                                <div class="chapter-attributes">
                                                    <span class="badge"> </span>
                                                    {% if section_chapter.chapter.points_value %}<span class="badge badge-outline-info">{{ section_chapter.chapter.points_value }} XP</span>{% endif %}
                                                    {% if section_chapter.chapter.mandatory %}
                                                    <span class="badge badge-outline-danger">Mandatory</span>
                                                    {% endif %}
                                                    {% if section_chapter.chapter.id in done_chapters %}
                                                    <span id="status_chapter_id_{{ section_chapter.chapter.id }}" class="badge badge-outline-success">Done</span>
                                                    {% else %}
                                                    <span id="status_chapter_id_{{ section_chapter.chapter.id }}" class="badge badge-outline-secondary">Not Completed</span>
                                                    {% endif%}
                                                </div> 
                                            </a>
                                        </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>

                        <li>
                            <a class="uk-accordion-title" href="#"> Online Learning </a>
                            <div class="uk-accordion-content">
                                <ul class="vidlist-3">
                                    {% for section_chapter in section.sectionchapter_set.all|dictsort:"sort" %}
                                        {% if section_chapter.chapter.enabled and section_chapter.chapter.group == 'RL' %}
                                        <li>
                                            <a class="chapter_video" href={% url 'courses_app:chapter' collection_id=collection.id course_id=course.id section_id=section.id chapter_id=section_chapter.chapter.id %}>
                                                <div id="chapter_id_{{ section_chapter.chapter.id }}" class="chapter-title">{{ section_chapter.chapter.title }}</div>
                                                <div class="chapter-attributes">
                                                    <span class="badge"> </span>
                                                    {% if section_chapter.chapter.points_value %}<span class="badge badge-outline-info">{{ section_chapter.chapter.points_value }} XP</span>{% endif %}
                                                    {% if section_chapter.chapter.mandatory %}
                                                    <span class="badge badge-outline-danger">Mandatory</span>
                                                    {% endif %}
                                                    {% if section_chapter.chapter.id in done_chapters %}
                                                    <span id="status_chapter_id_{{ section_chapter.chapter.id }}" class="badge badge-outline-success">Done</span>
                                                    {% else %}
                                                    <span id="status_chapter_id_{{ section_chapter.chapter.id }}" class="badge badge-outline-secondary">Not Completed</span>
                                                    {% endif%}
                                                </div> 
                                            </a>
                                        </li>
                                        {% endif %}
                                    {% endfor %}
                                    {% for section_chapter in section.sectionchapter_set.all|dictsort:"sort" %}
                                        {% if section_chapter.chapter.enabled and section_chapter.chapter.group == 'RF' %}
                                        <li>
                                            <a class="chapter_video" href={% url 'courses_app:chapter' collection_id=collection.id course_id=course.id section_id=section.id chapter_id=section_chapter.chapter.id %}>
                                                <div id="chapter_id_{{ section_chapter.chapter.id }}" class="chapter-title">{{ section_chapter.chapter.title }}</div>
                                                <div class="chapter-attributes">
                                                    <span class="badge"> </span>
                                                    {% if section_chapter.chapter.points_value %}<span class="badge badge-outline-info">{{ section_chapter.chapter.points_value }} XP</span>{% endif %}
                                                    {% if section_chapter.chapter.mandatory %}
                                                    <span class="badge badge-outline-danger">Mandatory</span>
                                                    {% endif %}
                                                    {% if section_chapter.chapter.id in done_chapters %}
                                                    <span id="status_chapter_id_{{ section_chapter.chapter.id }}" class="badge badge-outline-success">Done</span>
                                                    {% else %}
                                                    <span id="status_chapter_id_{{ section_chapter.chapter.id }}" class="badge badge-outline-secondary">Not Completed</span>
                                                    {% endif%}
                                                </div> 
                                            </a>
                                        </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>

                        <li>
                            <a class="uk-accordion-title" href="#"> Daily Challenge </a>
                            <div class="uk-accordion-content">
                                <ul class="vidlist-3">
                                    {% for section_chapter in section.sectionchapter_set.all|dictsort:"sort" %}
                                        {% if section_chapter.chapter.enabled and section_chapter.chapter.group == 'DC' %}
                                        <li>
                                            <a class="chapter_daily_challenge" href={% url 'courses_app:chapter' collection_id=collection.id course_id=course.id section_id=section.id chapter_id=section_chapter.chapter.id %}>
                                                <div id="chapter_id_{{ section_chapter.chapter.id }}" class="chapter-title">{{ section_chapter.chapter.title }}</div>
                                                <div class="chapter-attributes">
                                                    <span class="badge"> </span>
                                                    {% if section_chapter.chapter.points_value %}<span class="badge badge-outline-info">{{ section_chapter.chapter.points_value }} XP</span>{% endif %}
                                                    {% if section_chapter.chapter.mandatory %}
                                                    <span class="badge badge-outline-danger">Mandatory</span>
                                                    {% endif %}
                                                    {% if section_chapter.chapter.id in done_chapters %}
                                                    <span id="status_chapter_id_{{ section_chapter.chapter.id }}" class="badge badge-outline-success">Done</span>
                                                    {% else %}
                                                    <span id="status_chapter_id_{{ section_chapter.chapter.id }}" class="badge badge-outline-secondary">Not Completed</span>
                                                    {% endif%}
                                                </div> 
                                            </a>
                                        </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>

                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>

<!-- small device icon video sidebar -->
<span class="btn-vidlist-3" uk-toggle="target: #wrapper; cls: is-open"></span>

<script>
    // Removes empty accordians in right sidebar
    let accordion_contents = document.getElementsByClassName("uk-accordion-content");
    //Can't loop through and remove elements from array without controlling for length change
    for(let i = 0; i < accordion_contents.length; i++){
        content = accordion_contents[i].getElementsByTagName("li")
        if (!content.length) {
            accordion_contents[i].parentNode.remove();
            i--;  
        }
    }
</script>

<script>
    // Update Markdown Tables to Bootstrap Tables - Jonathan
    [].forEach.call(document.getElementsByTagName("table"), function (el) {el.className += "table table-striped table-bordered"});
</script>

<script>
    // Auto Build TOC from H1 - H6 Components in 'chapter-contents' div - Jonathan
    let make_toc = function(){
        var toc = "";
        var level = 0;

        document.getElementById("chapter-contents").innerHTML =
            document.getElementById("chapter-contents").innerHTML.replace(
                /<h([\d])>([^<]+)<\/h([\d])>/gi,
                function (str, openLevel, titleText, closeLevel) {
                    if (openLevel != closeLevel) {
                        return str;
                    }

                    if (openLevel > level) {
                        toc += (new Array(openLevel - level + 1)).join("<ul>");
                    } else if (openLevel < level) {
                        toc += (new Array(level - openLevel + 1)).join("</ul>");
                    }

                    level = parseInt(openLevel);

                    var anchor = titleText.replace(/ /g, "_");
                    toc += "<li><a href=\"#" + anchor + "\">" + titleText
                        + "</a></li>";

                    return "<h" + openLevel + "><a name=\"" + anchor + "\">"
                        + titleText + "</a></h" + closeLevel + ">";
                }
            );

        if (level) {
            toc += (new Array(level + 1)).join("</ul>");
        }

        document.getElementById("toc").innerHTML += toc;
    };
    window.setTimeout(function(){make_toc()}, 0)
    
</script>

<script>
    // To trigger a click on the correct chapter. This will open the accordion to correct location.
    let run_target = function(){
        chapter_id="{{chapter.id}}"
        if (chapter_id == "None") 
            return;
        click_target = document.getElementById('chapter_id_'+chapter_id)
        click_target.closest("li").classList.add('chapter-active');
        click_target.closest(".uk-accordion-content").previousElementSibling.click();
    }    
    //  DOMContentLoaded isn't reliable here. Probably because of this weird theme javascript.
    //  So I'm fudging it using a setTimeout.
    //  - Jonathan
    window.setTimeout(function(){run_target()}, 0)
</script>

{% endblock %}

{% block javascript %}
<script type="text/javascript" src="../assets/syntax-highlighter/scripts/shCore.js"></script>
<script type="text/javascript" src="../assets/syntax-highlighter/scripts/shBrushJScript.js"></script>
<script type="text/javascript" src="../assets/syntax-highlighter/scripts/shBrushXml.js"></script>
<script type="text/javascript">
    SyntaxHighlighter.all()
</script>
{% endblock %}