{% extends 'lib/base.html' %}
{% load user_group_check %}
{% load static %}
{% load martortags %}

{%block css %}
<link rel="stylesheet" href="{% static 'courses_app/css/courses_app.css' %}">
<link rel="stylesheet" href="{% static 'courses_app/css/prism.css' %}">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/styles/{{user.profile.code_formatting}}.min.css">
<link rel="stylesheet" href="{% static 'courses_app/css/slider.css' %}">   
{% endblock %}

{% block header %}
<!-- To clear the header loaded in base -->
{% endblock %}

{% block extra %}
<!-- Syntax Highlighter -->
<link rel="stylesheet" type="text/css" href="{% static 'lib/syntax-highlighter/styles/shCore.css' %}" media="all">
<link rel="stylesheet" type="text/css" href="{% static 'lib/syntax-highlighter/styles/shCoreMidnight.css' %}" media="all">
<style>
    .gutter,
    .toolbar {
        display: none
    }

    .syntaxhighlighter {
        padding: 15px 20px;
    }

    .syntaxhighlighter {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        padding: 0 !important;
        padding-top: 18px !important;
    }

</style>
{% endblock %}

{% block page-content %}
<div class="page-content">
    
    <div class="uk-grid-collapse" uk-grid>
        <div class="uk-width-3-4@m bg-white">
            
            <!-- video description contents -->
            <div class="p-lg-5 p-3" style="width:80%; margin:auto;">
                {% block breadcrumbs %}
                <div style="margin-top:-27px; margin-bottom:23px;">
                    {% include 'lib/partials/breadcrumbs.html'%}
                </div>
                {% endblock %}

                <div style="display: flex;">
                    <div style="width: 80%;">
                        {% if chapter.id %}
                        <h2>{{ chapter.title }}</h2>
                        {% else %}
                        <h2>{{ section.title }}</h2>
                        {% endif %}
                    </div>
                    {% if chapter.id and request.user.profile.program %}
                    <div style="width: 30%; display: flex; justify-content: flex-end; align-items: center;">
                        {% if chapter.mandatory %}
                            {% if submission_status == "Not Done" %}
                            <span class="btn btn-secondary border border-danger"  id="chapter-submit" chapter-id="{{chapter.id}}" style="display:none;">Submit</span>
                            {% elif submission_status == "Pending" %}
                            <span class="btn btn-warning"  id="chapter-submit" chapter-id="{{chapter.id}}" style="display:none">Pending</span>
                            {% elif submission_status == "Pass" %}
                            <span class="btn btn-success"  id="chapter-submit" chapter-id="{{chapter.id}}" style="display:none">Done</span>
                            {% elif submission_status == "Redo" %}
                            <span class="btn btn-danger"  id="chapter-submit" chapter-id="{{chapter.id}}" style="display:none">Redo</span>
                        {% endif %}
                        {% else %}
                            {% if chapter.id in done_chapters %}
                            <span class="btn btn-success"  id="chapter-done" chapter-id="{{chapter.id}}" done="1" style="display:none">Done</span>
                            {% else %}
                            <span class="btn btn-secondary" id="chapter-done" chapter-id="{{chapter.id}}" done="0" style="display:none">Not Completed</span>
                            {% endif %}
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
                {% if not submissions_page %}
                <div style="width: 20%;">
                    {% if request.user|has_group:"admin" and not chapter.id %}
                    <sup><a href="{% url 'admin:courses_app_section_change' section.id %}" class="edit-content" >Edit Section</a></sup>
                    {% elif request.user|has_group:"admin" and chapter.id %}
                    <sup><a href="{% url 'admin:courses_app_chapter_change' chapter.id %}" class="edit-content" >Edit Chapter</a></sup>
                    {% endif %}
                </div>
                {% endif %}

                <hr class="my-2">
                <div  uk-toggle="cls: uk-flex uk-flex-between@m uk-flex-middle; mode: media; media: @m"><div>
            </div>
        </div>

        <div>
            
            {% if chapter.group == 'CO' %}
            <div id="toc">
                <h3>Table of Contents</h3>
            </div>
            <hr/>
            {% endif %}

            <div id="chapter-contents">

                {% if submissions_page %}
                    {% include 'partials/submissions.html' %}
                {% else %}    

                    {% if not chapter %}
                    <p class="lead">{{ section.description|safe_markdown }}</p>
                    {% endif %}

                    {% if chapter.content %}
                    <p class="lead">{{ chapter.content|safe_markdown }}</p><br>
                    {% endif %}

                    <div>
                        <hr>
                        <h1>Feedback</h1>
                        <p>Tell us what you thought about {% if not chapter%} the section: {{section.title}}{% else %} the chapter: {{chapter.title}}{% endif %}</p>
                        <div hidden id="feedback" class="cui-embed" style="height: 300px; width: 100%;" data-cui-uid="Gp6szZ" data-cui-avatar="https://images.typeform.com/images/KV5BWnKMavQp" data-cui-mode="widget" data-cui-pill-button-color="#000000"></div><script src="https://public-assets.typeform.com/confab/embed.js" async></script>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
    
    {% block footer %}
    {% include 'lib/partials/footer-small.html'%}
    {% endblock %}
</div>

<div class="uk-width-1-4@m uk-overflow-hidden vidlist-3-container">
    <div uk-sticky >
        <h5 class="bg-gradient-grey text-white py-4 p-3 mb-0">{{ section.title }}</h5>
        <ul class="uk-child-width-expand mb-0"
            uk-switcher="animation: uk-animation-slide-right-small, uk-animation-slide-left-small"
            uk-tab>
            <li class="uk-active"></li>
        </ul>

        <ul class="uk-switcher uk-overflow-hidden">
            <li>
                <div class="vidlist-3-content" data-simplebar>
                    <ul class="vidlist-3-section" uk-accordion>

                        <li>
                            <a class="uk-accordion-title" href="#"> Coding Daily Digest </a>
                            <div class="uk-accordion-content">
                                <ul class="vidlist-3" >
                                    {% for section_chapter in section.sectionchapter_set.all|dictsort:"sort" %}
                                    {% if section_chapter.chapter.enabled and section_chapter.chapter.group == 'CDD' %}
                                    <li>
                                        <a class="chapter_notes" href={% url 'courses_app:chapter' collection_id=collection.id course_id=course.id section_id=section.id chapter_id=section_chapter.chapter.id %}>
                                            <div id="chapter_id_{{ section_chapter.chapter.id }}" class="chapter-title">{{ section_chapter.chapter.title }}</div>
                                            <div class="chapter-attributes">
                                                <span class="badge"> </span>
                                                {% if section_chapter.chapter.points_value %}<span class="badge badge-outline-primary">{{ section_chapter.chapter.points_value }} XP</span>{% endif %}
                                                {% if section_chapter.chapter.mandatory %}<span class="badge badge-outline-danger" data-toggle="tooltip" title="Mandatory"><i class="fa fa-star" aria-hidden="true"></i></span>{% endif %}
                                                {% if section_chapter.chapter.id in done_chapters %}
                                                <span id="status_chapter_id_{{ section_chapter.chapter.id }}" class="badge badge-outline-success" data-toggle="tooltip" title="Done"><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                                                {% else %}
                                                <span id="status_chapter_id_{{ section_chapter.chapter.id }}" class="badge badge-outline-secondary" data-toggle="tooltip" title="Not Completed"><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                                                {% endif%}
                                                {% if section_chapter.chapter.self_learning %}<span class="badge badge-outline-info" data-toggle="tooltip" title="Self Learning"><i class="fa fa-graduation-cap" aria-hidden="true"></i></span>{% endif %}
                                                {% if section_chapter.chapter.advanced %}<span class="badge badge-outline-warning" data-toggle="tooltip" title="Advanced"><i class="fa fa-diamond" aria-hidden="true"></i></span>{% endif %}
                                            </div> 
                                        </a>
                                    </li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>

                        <li>
                            <a class="uk-accordion-title" href="#"> Course Notes </a>
                            <div class="uk-accordion-content">
                                <ul class="vidlist-3" >
                                    {% for section_chapter in section.sectionchapter_set.all|dictsort:"sort" %}
                                    {% if section_chapter.chapter.enabled and section_chapter.chapter.group == 'CO' %}
                                    <li>
                                        <a class="chapter_notes" href={% url 'courses_app:chapter' collection_id=collection.id course_id=course.id section_id=section.id chapter_id=section_chapter.chapter.id %}>
                                            <div id="chapter_id_{{ section_chapter.chapter.id }}" class="chapter-title">{{ section_chapter.chapter.title }}</div>
                                            <div class="chapter-attributes">
                                                <span class="badge"> </span>
                                                {% if section_chapter.chapter.points_value %}<span class="badge badge-outline-primary">{{ section_chapter.chapter.points_value }} XP</span>{% endif %}
                                                {% if section_chapter.chapter.mandatory %}<span class="badge badge-outline-danger" data-toggle="tooltip" title="Mandatory"><i class="fa fa-star" aria-hidden="true"></i></span>{% endif %}
                                                {% if section_chapter.chapter.id in done_chapters %}
                                                <span id="status_chapter_id_{{ section_chapter.chapter.id }}" class="badge badge-outline-success" data-toggle="tooltip" title="Done"><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                                                {% else %}
                                                <span id="status_chapter_id_{{ section_chapter.chapter.id }}" class="badge badge-outline-secondary" data-toggle="tooltip" title="Not Completed"><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                                                {% endif%}
                                                {% if section_chapter.chapter.self_learning %}<span class="badge badge-outline-info" data-toggle="tooltip" title="Self Learning"><i class="fa fa-graduation-cap" aria-hidden="true"></i></span>{% endif %}
                                                {% if section_chapter.chapter.advanced %}<span class="badge badge-outline-warning" data-toggle="tooltip" title="Advanced"><i class="fa fa-diamond" aria-hidden="true"></i></span>{% endif %}
                                            </div> 
                                        </a>
                                    </li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                        
                        <li>
                            <a class="uk-accordion-title" href="#"> Exercises </a>
                            <div class="uk-accordion-content">
                                <ul class="vidlist-3">
                                    {% for section_chapter in section.sectionchapter_set.all|dictsort:"sort" %}
                                        {% if section_chapter.chapter.enabled and section_chapter.chapter.group == 'XP' %}
                                        <li>
                                            <a class="chapter_exercise" href={% url 'courses_app:chapter' collection_id=collection.id course_id=course.id section_id=section.id chapter_id=section_chapter.chapter.id %}>
                                                <div id="chapter_id_{{ section_chapter.chapter.id }}" class="chapter-title">{{ section_chapter.chapter.title }}</div>
                                                <div class="chapter-attributes">
                                                    <span class="badge"> </span>
                                                    {% if section_chapter.chapter.points_value %}<span class="badge badge-outline-primary">{{ section_chapter.chapter.points_value }} XP</span>{% endif %}
                                                    <span class="badge badge-outline-warning">XP</span>
                                                    {% if section_chapter.chapter.mandatory %}<span class="badge badge-outline-danger" data-toggle="tooltip" title="Mandatory"><i class="fa fa-star" aria-hidden="true"></i></span>{% endif %}
                                                    {% if section_chapter.chapter.id in done_chapters %}
                                                    <span id="status_chapter_id_{{ section_chapter.chapter.id }}" class="badge badge-outline-success" data-toggle="tooltip" title="Done"><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                                                    {% else %}
                                                    <span id="status_chapter_id_{{ section_chapter.chapter.id }}" class="badge badge-outline-secondary" data-toggle="tooltip" title="Not Completed"><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                                                    {% endif%}
                                                    {% if section_chapter.chapter.self_learning %}<span class="badge badge-outline-info" data-toggle="tooltip" title="Self Learning"><i class="fa fa-graduation-cap" aria-hidden="true"></i></span>{% endif %}
                                                    {% if section_chapter.chapter.advanced %}<span class="badge badge-outline-warning" data-toggle="tooltip" title="Advanced"><i class="fa fa-diamond" aria-hidden="true"></i></span>{% endif %}
                                                </div> 
                                            </a>
                                        </li>
                                        {% endif %}
                                    {% endfor %}
                                    {% for section_chapter in section.sectionchapter_set.all|dictsort:"sort" %}
                                        {% if section_chapter.chapter.enabled and section_chapter.chapter.group == 'XPG' %}
                                        <li>
                                            <a class="chapter_exercise" href={% url 'courses_app:chapter' collection_id=collection.id course_id=course.id section_id=section.id chapter_id=section_chapter.chapter.id %}>
                                                <div id="chapter_id_{{ section_chapter.chapter.id }}" class="chapter-title">{{ section_chapter.chapter.title }}</div>
                                                <div class="chapter-attributes">
                                                    <span class="badge"> </span>
                                                    {% if section_chapter.chapter.points_value %}<span class="badge badge-outline-primary">{{ section_chapter.chapter.points_value }} XP</span>{% endif %}
                                                    <span class="badge badge-outline-warning">XP Gold</span>
                                                    {% if section_chapter.chapter.mandatory %}<span class="badge badge-outline-danger" data-toggle="tooltip" title="Mandatory"><i class="fa fa-star" aria-hidden="true"></i></span>{% endif %}
                                                    {% if section_chapter.chapter.id in done_chapters %}
                                                    <span id="status_chapter_id_{{ section_chapter.chapter.id }}" class="badge badge-outline-success" data-toggle="tooltip" title="Done"><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                                                    {% else %}
                                                    <span id="status_chapter_id_{{ section_chapter.chapter.id }}" class="badge badge-outline-secondary" data-toggle="tooltip" title="Not Completed"><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                                                    {% endif%}
                                                    {% if section_chapter.chapter.self_learning %}<span class="badge badge-outline-info" data-toggle="tooltip" title="Self Learning"><i class="fa fa-graduation-cap" aria-hidden="true"></i></span>{% endif %}
                                                    {% if section_chapter.chapter.advanced %}<span class="badge badge-outline-warning" data-toggle="tooltip" title="Advanced"><i class="fa fa-diamond" aria-hidden="true"></i></span>{% endif %}
                                                </div> 
                                            </a>
                                        </li>
                                        {% endif %}
                                    {% endfor %}
                                    {% for section_chapter in section.sectionchapter_set.all|dictsort:"sort" %}
                                        {% if section_chapter.chapter.enabled and  section_chapter.chapter.group == 'XPN' %}
                                        <li>
                                            <a class="chapter_exercise" href={% url 'courses_app:chapter' collection_id=collection.id course_id=course.id section_id=section.id chapter_id=section_chapter.chapter.id %}>
                                                <div id="chapter_id_{{ section_chapter.chapter.id }}" class="chapter-title">{{ section_chapter.chapter.title }}</div>
                                                <div class="chapter-attributes">
                                                    <span class="badge"> </span>
                                                    {% if section_chapter.chapter.points_value %}<span class="badge badge-outline-primary">{{ section_chapter.chapter.points_value }} XP</span>{% endif %}
                                                    <span class="badge badge-outline-warning">XP Ninja</span>
                                                    {% if section_chapter.chapter.mandatory %}<span class="badge badge-outline-danger" data-toggle="tooltip" title="Mandatory"><i class="fa fa-star" aria-hidden="true"></i></span>{% endif %}
                                                    {% if section_chapter.chapter.id in done_chapters %}
                                                    <span id="status_chapter_id_{{ section_chapter.chapter.id }}" class="badge badge-outline-success" data-toggle="tooltip" title="Done"><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                                                    {% else %}
                                                    <span id="status_chapter_id_{{ section_chapter.chapter.id }}" class="badge badge-outline-secondary" data-toggle="tooltip" title="Not Completed"><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                                                    {% endif%}
                                                    {% if section_chapter.chapter.self_learning %}<span class="badge badge-outline-info" data-toggle="tooltip" title="Self Learning"><i class="fa fa-graduation-cap" aria-hidden="true"></i></span>{% endif %}
                                                    {% if section_chapter.chapter.advanced %}<span class="badge badge-outline-warning" data-toggle="tooltip" title="Advanced"><i class="fa fa-diamond" aria-hidden="true"></i></span>{% endif %}
                                                </div> 
                                            </a>
                                        </li>
                                        {% endif %}
                                    {% endfor %}
                                    {% for section_chapter in section.sectionchapter_set.all|dictsort:"sort" %}
                                        {% if section_chapter.chapter.enabled and  section_chapter.chapter.group == 'HW' %}
                                        <li>
                                            <a class="chapter_exercise"href={% url 'courses_app:chapter' collection_id=collection.id course_id=course.id section_id=section.id chapter_id=section_chapter.chapter.id %}>
                                                <div id="chapter_id_{{ section_chapter.chapter.id }}" class="chapter-title">{{ section_chapter.chapter.title }}</div>
                                                <div class="chapter-attributes">
                                                    <span class="badge"> </span>
                                                    {% if section_chapter.chapter.points_value %}<span class="badge badge-outline-primary">{{ section_chapter.chapter.points_value }} XP</span>{% endif %}
                                                    {% if section_chapter.chapter.mandatory %}<span class="badge badge-outline-danger" data-toggle="tooltip" title="Mandatory"><i class="fa fa-star" aria-hidden="true"></i></span>{% endif %}
                                                    {% if section_chapter.chapter.id in done_chapters %}
                                                    <span id="status_chapter_id_{{ section_chapter.chapter.id }}" class="badge badge-outline-success" data-toggle="tooltip" title="Done"><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                                                    {% else %}
                                                    <span id="status_chapter_id_{{ section_chapter.chapter.id }}" class="badge badge-outline-secondary" data-toggle="tooltip" title="Not Completed"><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                                                    {% endif%}
                                                    {% if section_chapter.chapter.self_learning %}<span class="badge badge-outline-info" data-toggle="tooltip" title="Self Learning"><i class="fa fa-graduation-cap" aria-hidden="true"></i></span>{% endif %}
                                                    {% if section_chapter.chapter.advanced %}<span class="badge badge-outline-warning" data-toggle="tooltip" title="Advanced"><i class="fa fa-diamond" aria-hidden="true"></i></span>{% endif %}
                                                </div> 
                                            </a>
                                        </li>
                                        {% endif %}
                                    {% endfor %}
                                    {% for section_chapter in section.sectionchapter_set.all|dictsort:"sort" %}
                                        {% if section_chapter.chapter.enabled and section_chapter.chapter.group == 'MP' %}
                                        <li>
                                            <a class="chapter_exercise" href={% url 'courses_app:chapter' collection_id=collection.id course_id=course.id section_id=section.id chapter_id=section_chapter.chapter.id %}>
                                                <div id="chapter_id_{{ section_chapter.chapter.id }}" class="chapter-title">{{ section_chapter.chapter.title }}</div>
                                                <div class="chapter-attributes">
                                                    <span class="badge"> </span>
                                                    {% if section_chapter.chapter.points_value %}<span class="badge badge-outline-primary">{{ section_chapter.chapter.points_value }} XP</span>{% endif %}
                                                    {% if section_chapter.chapter.mandatory %}<span class="badge badge-outline-danger" data-toggle="tooltip" title="Mandatory"><i class="fa fa-star" aria-hidden="true"></i></span>{% endif %}
                                                    {% if section_chapter.chapter.id in done_chapters %}
                                                    <span id="status_chapter_id_{{ section_chapter.chapter.id }}" class="badge badge-outline-success" data-toggle="tooltip" title="Done"><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                                                    {% else %}
                                                    <span id="status_chapter_id_{{ section_chapter.chapter.id }}" class="badge badge-outline-secondary" data-toggle="tooltip" title="Not Completed"><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                                                    {% endif%}
                                                    {% if section_chapter.chapter.self_learning %}<span class="badge badge-outline-info" data-toggle="tooltip" title="Self Learning"><i class="fa fa-graduation-cap" aria-hidden="true"></i></span>{% endif %}
                                                    {% if section_chapter.chapter.advanced %}<span class="badge badge-outline-warning" data-toggle="tooltip" title="Advanced"><i class="fa fa-diamond" aria-hidden="true"></i></span>{% endif %}
                                                </div> 
                                            </a>
                                        </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>

                        <li>
                            <a class="uk-accordion-title" href="#"> Online Learning </a>
                            <div class="uk-accordion-content">
                                <ul class="vidlist-3">
                                    {% for section_chapter in section.sectionchapter_set.all|dictsort:"sort" %}
                                        {% if section_chapter.chapter.enabled and section_chapter.chapter.group == 'RL' %}
                                        <li>
                                            <a class="chapter_video" href={% url 'courses_app:chapter' collection_id=collection.id course_id=course.id section_id=section.id chapter_id=section_chapter.chapter.id %}>
                                                <div id="chapter_id_{{ section_chapter.chapter.id }}" class="chapter-title">{{ section_chapter.chapter.title }}</div>
                                                <div class="chapter-attributes">
                                                    <span class="badge"> </span>
                                                    {% if section_chapter.chapter.points_value %}<span class="badge badge-outline-primary">{{ section_chapter.chapter.points_value }} XP</span>{% endif %}
                                                    {% if section_chapter.chapter.mandatory %}<span class="badge badge-outline-danger" data-toggle="tooltip" title="Mandatory"><i class="fa fa-star" aria-hidden="true"></i></span>{% endif %}
                                                    {% if section_chapter.chapter.id in done_chapters %}
                                                    <span id="status_chapter_id_{{ section_chapter.chapter.id }}" class="badge badge-outline-success" data-toggle="tooltip" title="Done"><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                                                    {% else %}
                                                    <span id="status_chapter_id_{{ section_chapter.chapter.id }}" class="badge badge-outline-secondary" data-toggle="tooltip" title="Not Completed"><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                                                    {% endif%}
                                                    {% if section_chapter.chapter.self_learning %}<span class="badge badge-outline-info" data-toggle="tooltip" title="Self Learning"><i class="fa fa-graduation-cap" aria-hidden="true"></i></span>{% endif %}
                                                    {% if section_chapter.chapter.advanced %}<span class="badge badge-outline-warning" data-toggle="tooltip" title="Advanced"><i class="fa fa-diamond" aria-hidden="true"></i></span>{% endif %}
                                                </div> 
                                            </a>
                                        </li>
                                        {% endif %}
                                    {% endfor %}
                                    {% for section_chapter in section.sectionchapter_set.all|dictsort:"sort" %}
                                        {% if section_chapter.chapter.enabled and section_chapter.chapter.group == 'RF' %}
                                        <li>
                                            <a class="chapter_video" href={% url 'courses_app:chapter' collection_id=collection.id course_id=course.id section_id=section.id chapter_id=section_chapter.chapter.id %}>
                                                <div id="chapter_id_{{ section_chapter.chapter.id }}" class="chapter-title">{{ section_chapter.chapter.title }}</div>
                                                <div class="chapter-attributes">
                                                    <span class="badge"> </span>
                                                    {% if section_chapter.chapter.points_value %}<span class="badge badge-outline-primary">{{ section_chapter.chapter.points_value }} XP</span>{% endif %}
                                                    {% if section_chapter.chapter.mandatory %}<span class="badge badge-outline-danger" data-toggle="tooltip" title="Mandatory"><i class="fa fa-star" aria-hidden="true"></i></span>{% endif %}
                                                    {% if section_chapter.chapter.id in done_chapters %}
                                                    <span id="status_chapter_id_{{ section_chapter.chapter.id }}" class="badge badge-outline-success" data-toggle="tooltip" title="Done"><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                                                    {% else %}
                                                    <span id="status_chapter_id_{{ section_chapter.chapter.id }}" class="badge badge-outline-secondary" data-toggle="tooltip" title="Not Completed"><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                                                    {% endif%}
                                                    {% if section_chapter.chapter.self_learning %}<span class="badge badge-outline-info" data-toggle="tooltip" title="Self Learning"><i class="fa fa-graduation-cap" aria-hidden="true"></i></span>{% endif %}
                                                    {% if section_chapter.chapter.advanced %}<span class="badge badge-outline-warning" data-toggle="tooltip" title="Advanced"><i class="fa fa-diamond" aria-hidden="true"></i></span>{% endif %}
                                                </div> 
                                            </a>
                                        </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>

                        <li>
                            <a class="uk-accordion-title" href="#"> Daily Challenge </a>
                            <div class="uk-accordion-content">
                                <ul class="vidlist-3">
                                    {% for section_chapter in section.sectionchapter_set.all|dictsort:"sort" %}
                                        {% if section_chapter.chapter.enabled and section_chapter.chapter.group == 'DC' %}
                                        <li>
                                            <a class="chapter_daily_challenge" href={% url 'courses_app:chapter' collection_id=collection.id course_id=course.id section_id=section.id chapter_id=section_chapter.chapter.id %}>
                                                <div id="chapter_id_{{ section_chapter.chapter.id }}" class="chapter-title">{{ section_chapter.chapter.title }}</div>
                                                <div class="chapter-attributes">
                                                    <span class="badge"> </span>
                                                    {% if section_chapter.chapter.points_value %}<span class="badge badge-outline-primary">{{ section_chapter.chapter.points_value }} XP</span>{% endif %}
                                                    {% if section_chapter.chapter.mandatory %}<span class="badge badge-outline-danger" data-toggle="tooltip" title="Mandatory"><i class="fa fa-star" aria-hidden="true"></i></span>{% endif %}
                                                    {% if section_chapter.chapter.id in done_chapters %}
                                                    <span id="status_chapter_id_{{ section_chapter.chapter.id }}" class="badge badge-outline-success" data-toggle="tooltip" title="Done"><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                                                    {% else %}
                                                    <span id="status_chapter_id_{{ section_chapter.chapter.id }}" class="badge badge-outline-secondary" data-toggle="tooltip" title="Not Completed"><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                                                    {% endif%}
                                                    {% if section_chapter.chapter.self_learning %}<span class="badge badge-outline-info" data-toggle="tooltip" title="Self Learning"><i class="fa fa-graduation-cap" aria-hidden="true"></i></span>{% endif %}
                                                    {% if section_chapter.chapter.advanced %}<span class="badge badge-outline-warning" data-toggle="tooltip" title="Advanced"><i class="fa fa-diamond" aria-hidden="true"></i></span>{% endif %}
                                                </div> 
                                            </a>
                                        </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>

                        <li>
                            <a class="uk-accordion-title" href="#"> Survey </a>
                            <div class="uk-accordion-content">
                                <ul class="vidlist-3" >
                                    {% for section_chapter in section.sectionchapter_set.all|dictsort:"sort" %}
                                    {% if section_chapter.chapter.enabled and section_chapter.chapter.group == 'SR' %}
                                    <li>
                                        <a class="chapter_notes" href={% url 'courses_app:chapter' collection_id=collection.id course_id=course.id section_id=section.id chapter_id=section_chapter.chapter.id %}>
                                            <div id="chapter_id_{{ section_chapter.chapter.id }}" class="chapter-title">{{ section_chapter.chapter.title }}</div>
                                            <div class="chapter-attributes">
                                                <span class="badge"> </span>
                                                {% if section_chapter.chapter.points_value %}<span class="badge badge-outline-primary">{{ section_chapter.chapter.points_value }} XP</span>{% endif %}
                                                {% if section_chapter.chapter.mandatory %}<span class="badge badge-outline-danger" data-toggle="tooltip" title="Mandatory"><i class="fa fa-star" aria-hidden="true"></i></span>{% endif %}
                                                {% if section_chapter.chapter.id in done_chapters %}
                                                <span id="status_chapter_id_{{ section_chapter.chapter.id }}" class="badge badge-outline-success" data-toggle="tooltip" title="Done"><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                                                {% else %}
                                                <span id="status_chapter_id_{{ section_chapter.chapter.id }}" class="badge badge-outline-secondary" data-toggle="tooltip" title="Not Completed"><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                                                {% endif%}
                                                {% if section_chapter.chapter.self_learning %}<span class="badge badge-outline-info" data-toggle="tooltip" title="Self Learning"><i class="fa fa-graduation-cap" aria-hidden="true"></i></span>{% endif %}
                                                {% if section_chapter.chapter.advanced %}<span class="badge badge-outline-warning" data-toggle="tooltip" title="Advanced"><i class="fa fa-diamond" aria-hidden="true"></i></span>{% endif %}
                                            </div> 
                                        </a>
                                    </li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>

                        {% if request.user|has_group:"admin" or request.user|has_group:"teacher" %}
                        <li>
                            <a class="uk-accordion-title" href="#"> Teachers </a>
                            <div class="uk-accordion-content">
                                <ul class="vidlist-3">
                                    {% for section_chapter in section.sectionchapter_set.all|dictsort:"sort" %}
                                        {% if section_chapter.chapter.enabled and section_chapter.chapter.group == 'TE' %}
                                        <li>
                                            <a class="chapter_notes" href={% url 'courses_app:chapter' collection_id=collection.id course_id=course.id section_id=section.id chapter_id=section_chapter.chapter.id %}>
                                                <div id="chapter_id_{{ section_chapter.chapter.id }}" class="chapter-title">{{ section_chapter.chapter.title }}</div>
                                                <div class="chapter-attributes">
                                                    <span class="badge"> </span>
                                                </div> 
                                            </a>
                                        </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                        {% endif %}

                        {% if request.user|has_group:"admin" or request.user|has_group:"teacher" or request.user|has_group:"checker"%}
                        <li>
                            <a class="uk-accordion-title" href="#"> Submissions </a>
                            <div class="uk-accordion-content">
                                <ul class="vidlist-3">
                                        <li>
                                            <a class="chapter_notes" href={% url 'courses_app:daily_submissions' collection_id=collection.id course_id=course.id section_id=section.id %}>
                                                <div id="" class="chapter-title">Daily Submissions</div>
                                                <div class="chapter-attributes">
                                                    <span class="badge"> </span>
                                                </div> 
                                            </a>
                                        </li>
                                </ul>
                            </div>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>

<!-- small device icon video sidebar -->
<span class="btn-vidlist-3" uk-toggle="target: #wrapper; cls: is-open"></span>

<script>
    // Removes empty accordians in right sidebar
    let accordion_contents = document.getElementsByClassName("uk-accordion-content");
    //Can't loop through and remove elements from array without controlling for length change
    for(let i = 0; i < accordion_contents.length; i++){
        content = accordion_contents[i].getElementsByTagName("li")
        if (!content.length) {
            accordion_contents[i].parentNode.remove();
            i--;  
        }
    }
</script>

<script>
    // Update Markdown Tables to Bootstrap Tables - Jonathan
    [].forEach.call(document.getElementsByTagName("table"), function (el) {el.className += "table table-striped table-bordered"});
</script>

<script>
    // Auto Build TOC from H1 - H6 Components in 'chapter-contents' div - Jonathan
    let make_toc = function(){
        var toc = "";
        var level = 0;

        document.getElementById("chapter-contents").innerHTML =
            document.getElementById("chapter-contents").innerHTML.replace(
                /<h([\d])>([^<]+)<\/h([\d])>/gi,
                function (str, openLevel, titleText, closeLevel) {
                    if (openLevel != closeLevel) {
                        return str;
                    }

                    if (openLevel > level) {
                        toc += (new Array(openLevel - level + 1)).join("<ul>");
                    } else if (openLevel < level) {
                        toc += (new Array(level - openLevel + 1)).join("</ul>");
                    }

                    level = parseInt(openLevel);

                    var anchor = titleText.replace(/ /g, "_");
                    toc += "<li><a href=\"#" + anchor + "\">" + titleText
                        + "</a></li>";

                    return "<h" + openLevel + "><a name=\"" + anchor + "\">"
                        + titleText + "</a></h" + closeLevel + ">";
                }
            );

        if (level) {
            toc += (new Array(level + 1)).join("</ul>");
        }

        document.getElementById("toc").innerHTML += toc;
    };
    window.setTimeout(function(){make_toc()}, 0)
    
</script>

<script>
    // Typeform element hijacks focus when it loads. No way to control it. 
    // So we hide it until it has fully loaded, then display it.
    let load_feedback = function(){
        document.getElementById("feedback").removeAttribute("hidden")
    }

    // To trigger a click on the correct chapter. This will open the accordion to correct location.
    let run_target = function(){
        chapter_id="{{chapter.id}}"
        if (chapter_id == "") {
            let accordion = document.querySelector(".vidlist-3-section > li > a")
            accordion.click()
            return;
        }
        click_target = document.getElementById('chapter_id_'+chapter_id)
        click_target.closest("li").classList.add('chapter-active');
        click_target.closest(".uk-accordion-content").previousElementSibling.click();
    }    

    window.addEventListener('load',function(){
        load_feedback()
    })

    // JMS HACK: DOMContentLoaded isn't reliable here. Probably because of this weird template renders.
    // And load event is too slow for good UX.
    // So... fudging it using a setTimeout 0.  Thoughts?
    window.setTimeout(function(){run_target()}, 0)



  /*
  Checking Course
  */
  window.addEventListener('load',function(){

    configure_modal()

    const submit_button = document.getElementById('chapter-submit');
    if (submit_button) {
        submit_button.addEventListener('click', ()=>{
            modal_get_submission()
        })
    }

    function configure_modal(){
        const modal_id = 'submit_exercise'
        const modal = build_modal({
            header  : "<h5 class='modal-title'>Mandatory Exercise Submission</h5>", 
            body    : "<strong>Code Url:</strong>\
                       <input class='form-control' id='exercise_url' name='exercise_url' placeholder='Enter Github link to your code'> \
                        <div class='row clearfix justify-content-center mt-4'>\
                            <div class='col-12'>\
                                <strong>Difficulty</strong>\
                                <p class='text-muted'>Was this exercise at the appropriate level for your skillset?</p>\
                                <div class='slider-container '>\
                                    <div style='display:flex; justify-content:space-evenly; margin: 0 -15px;'>\
                                        <span>0</span><span>ı</span><span>ı</span><span>ı</span><span>ı</span><span>5</span><span>ı</span><span>ı</span><span>ı</span><span>ı</span><span>10</span>\
                                    </div>\
                                    <input type='range' id='difficulty' name='difficulty' class='slider' min='0' max='10'>\
                                </div>\
                            </div>\
                        </div>\
                        <div class='row clearfix justify-content-center mt-4'>\
                            <div class='col-12'>\
                                <strong>Clarity</strong>\
                                <p class='text-muted'>Were the instructions and language understandable?</p>\
                                <div class='slider-container '>\
                                    <div style='display:flex; justify-content:space-evenly; margin: 0 -15px;'>\
                                        <span>0</span><span>ı</span><span>ı</span><span>ı</span><span>ı</span><span>5</span><span>ı</span><span>ı</span><span>ı</span><span>ı</span><span>10</span>\
                                    </div>\
                                    <input type='range' id='clarity' name='clarity' class='slider' min='0' max='10'>\
                                </div>\
                            </div>\
                        </div>\
                        <div class='row clearfix justify-content-center mt-4'>\
                            <div class='col-12'>\
                                <strong>Relevance</strong>\
                                <p class='text-muted'>Did this exercise reinforce ideas from today's lesson?</p>\
                                <div class='slider-container '>\
                                    <div style='display:flex; justify-content:space-evenly; margin: 0 -15px;'>\
                                        <span>0</span><span>ı</span><span>ı</span><span>ı</span><span>ı</span><span>5</span><span>ı</span><span>ı</span><span>ı</span><span>ı</span><span>10</span>\
                                    </div>\
                                    <input type='range' id='relevance' name='relevance' class='slider' min='0' max='10'>\
                                </div>\
                            </div>\
                        </div>\
                        <div class='row clearfix justify-content-center mt-4'>\
                            <div class='col-12'>\
                                <strong>Time Taken</strong>\
                                <p class='text-muted'>Approximately how long did you spend on this exercise?</p>\
                                <select class='form-control' id='time_taken' name='time_taken'>\
                                    <option value='< 10'>Less than 10 minutes</option>\
                                    <option value='10-20'>10 - 20 minutes</option>\
                                    <option value='20-30'>20 - 30 minutes</option>\
                                    <option value='30-40'>30 - 40 minutes</option>\
                                    <option value='40-50'>40 - 50 minutes</option>\
                                    <option value='50-60'>50 minutes to 1 hour</option>\
                                    <option value='> 60'>More than 1 hour</option>\
                                </select>\
                            </div>\
                        </div>\
                        <div class='row clearfix  mt-4'>\
                            <div class='col-12'>\
                                <strong>Comments</strong>\
                                <p class='text-muted'>Let us know your thoughts about this exercise. What did you like? What did you dislike? What can we improve??</p>\
                                <div class='slider-container '>\
                                    <textarea id='comment' name='comment' rows='4' maxlength='250' style='resize: none;' class='form-control'></textarea>\
                                </div>\
                            </div>\
                        </div>",
            footer  : "<button id='modal_btn_cancel' class='btn btn-secondary' data-dismiss='modal'>Cancel</button>\
                    <button id='modal_btn_submit' class='btn btn-success'>Submit</button>", 
            new_id  : modal_id 
        })

        modal_get_submission = () => {
            modal.modal('show');
        }

        isValidHttpUrl = (string) => {
            let url;
            try {
                url = new URL(string);
            } catch (_) {
                return false;  
            }

            return url.protocol === "http:" || url.protocol === "https:";
        }

        const yes_callback = () => {
            const token = '{{csrf_token}}';
            const chapter_id = $('#chapter-submit').attr('chapter-id')
            const data = getAllInputValuesInModal(modal_id)
            data['collection_id'] = "{{collection.id}}";
            data['course_id'] = "{{course.id}}";
            data['section_id'] = "{{section.id}}";
            data['chapter_id'] = "{{chapter.id}}";
            if (!isValidHttpUrl(data['exercise_url'])) {
                alert("Please enter a valid URL!")
                return
            }

            $.ajax({
                headers: { "X-CSRFToken": token },
                url: "{% url 'courses_app:submit_chapter' %}",
                type: 'POST',
                data: JSON.stringify(data),
                success: function (json) {
                    console.log(json)
                    submit_button.innerText = "Pending"
                    submit_button.className='btn btn-warning'
                    modal.modal('hide');
                },
                error: function (xhr, errMsg, err) {
                    alert('Something went wrong!');
                    console.log(errMsg, err);
                }
            })
            
        }


        $("#modal_btn_submit").on("click", function(){
            yes_callback();
        });

        $("#modal_btn_cancel").on("click", function(){
            modal.modal('hide');
        });

    }
    

    $('#chapter-submit').show()
    $('#chapter-done').show()
    
    $('#chapter-done').on('click', function () {
      let chapter_id = $('#chapter-done').attr('chapter-id')
      $.ajax({
        url: '/courses/completed_chapter/',
        type: 'POST',
        data: {
          chapter_id: chapter_id
        },
        success: function (json) {
          checkOrUncheck(chapter_id);
        },
        error: function (xhr, errMsg, err) {
          alert('Something went wrong!');
          console.log(errMsg, err);
        }
      })
    })
  
    function checkOrUncheck(chapter_id) {
      let button = $('#chapter-done');
      let badge = $('#status_chapter_id_' + chapter_id);
      
      if ($('#chapter-done').attr('done') == 1) {
        button.removeClass('btn-success').addClass('btn-secondary').attr('done', '0').text('Not Completed');
        badge.removeClass('badge-outline-success').addClass('badge-outline-secondary')
      } else {
        button.removeClass('btn-secondary').addClass('btn-success').attr('done', '1').text('Done');
        badge.removeClass('badge-outline-secondary').addClass('badge-outline-success')
      }
    }
  })
  
</script>

{% endblock %}

{% block modal %}
    {{block.super}}
    {% include "lib/partials/modal.html" %}
{% endblock %}

{% block javascript-bottom %}
<script type="text/javascript" src="../assets/syntax-highlighter/scripts/shCore.js"></script>
<script type="text/javascript" src="../assets/syntax-highlighter/scripts/shBrushJScript.js"></script>
<script type="text/javascript" src="../assets/syntax-highlighter/scripts/shBrushXml.js"></script>
<script type="text/javascript">
    SyntaxHighlighter.all()
</script>

<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock %}