{% extends 'base.html' %}

{% block title %} Restricted Page {% endblock %}

{% block content %}


<div class="row">
    <div class="col-sm-8 offset-sm-2">
        <div class="card mt-3 mb-3">
            <div class="card-header">
                <h2 class="mb-0">This Page is Restricted</h2>
            </div>

            <div class="card-body">
                <h4>Welcome to Developers Institute's Learning Platform!</h4>
                <p>You don't have access to this page yet.</p>
                <p>You will be able to access all courses once your account is approved.</p>
                <p>Thank you and have a nice day!</p>
            </div>
        </div>

    </div>
</div>

{% endblock %}